@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');


header{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 85px;
    padding: 0px 0px;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }
  
  body{
    background-image: url(handrawn-barbecue-elements.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 60px;
    z-index: 0;
    margin: 0;
  }
  
  
  #overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
  }
  
  .nav-link {
    font-family: "IBM Plex Sans Arabic";
    color: #EF6E43;
    font-size: 26px;
    font-weight: 300;
    margin-right: 150px;
    margin-top: 20px;
    padding: 0;
    float: right;
    text-decoration: none;
  }
  
  #header-img {
    margin-top: 20px;
    margin-left: 150px;
    margin-bottom: 20px;
    height: auto;
    width: 180px;
    float: left;
    text-shadow: 1px 1px #696969;
  }
  
  
  #nav-bar{
    float: left;
    list-style: none;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    width: 100%;
    background-color: white;
  }

#description{
    margin-top: 50px;
    font-family: "IBM Plex Sans Arabic";
}

h1{
  margin: 25px 50px 0px 100px;
  font-size: xx-small;
  font-color: white;
}

.labels{
  font-weight: 1000;
  font-family: "IBM Plex Sans Arabic";
}

p{
  font-weight: 1000;
  text-align: center;
}

#overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(215, 215, 215, 0.3);
  z-index: -1;
  cursor: pointer;
}

#form-bg{
  background-color: RGB(242,121,157,0.9);
  padding: 20px 20px;
}

body {
  font-family: 'Public Sans';
  width: 500px;
  background-repeat: no-repeat;
  background-size: 100%;
}

form {
  background-color: #EF6E43;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  padding: 20px 20px;
  border-radius: 25px;
  margin-top: 200px;
  margin-left: 600px;
  margin-right: 600px;
}

.form-inputs {
  width: 100%;
  height: 20px;
  border-radius: 3px;
  border-color: #8bc7df;
}

.form-input {
  width: 100%;
  height: 100px;
  border-radius: 3px;
}

.top-labels{
  margin: 0px 60px 0px 0px
}

#submit{
  font-family: "IBM Plex Sans Arabic";
  width: 50%;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  font-weight: 1000;
  font-size: 20px;
  color: #EF6E43;
  margin: 25px 50px 50px 120px;
  border-color: white;
}

#dropdown {
  width: 101.6%;
  height: 25px;
}

.column {
  float: left;
  width: 50%;
  padding: 0px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#toppings-label{
  align-text: center;
  margin: 0px 0px 50px 0px;
}